* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(110deg,rgba(222, 92, 255, 1) 0%, rgba(87, 199, 115, 1) 50%, rgba(83, 237, 219, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}